export SERVER_PORT={{ bahmni_reports_port }}
export BASE_DIR=/var/run/bahmni-reports
export CONTEXT_PATH=/bahmnireports
export WAR_DIRECTORY=/var/run/bahmni-reports/bahmni-reports
export SERVER_OPTS="-Xms512m -Xmx1024m"
export DEBUG_OPTS="-agentlib:jdwp=transport=dt_socket,address=8003,server=y,suspend=n"
export JAVA_HOME={{ java_home }}
