openelis.url=jdbc:postgresql://{{ openelis_db_server }}:5432/clinlims
openelis.username={{ openelis_db_username }}
openelis.password={{ openelis_db_password }}
openmrs.url=jdbc:mysql://{{ openmrs_db_server }}:3306/openmrs?allowMultiQueries=true
openmrs.test.url=jdbc:mysql://{{ openmrs_db_server }}:3306/reports_integration_tests?allowMultiQueries=true
openmrs.username= {{ openmrs_db_username }}
openmrs.password= {{ openmrs_db_password }}

config.file.path=/var/www/bahmni_config/openmrs/apps/reports/reports.json
openmrs.service.rootUrl=http://{{ openmrs_db_server }}:{{ openmrs_port }}/openmrs/ws/rest/v1
openmrs.service.user={{ openmrs_user_id }}
openmrs.service.password={{ openmrs_user_password }}
openmrs.connectionTimeoutInMilliseconds=30000
openmrs.replyTimeoutInMilliseconds=120000
macrotemplates.temp.directory=/tmp/
bahmni.login.url=/bahmni/home/#/login?showLoginMessage