#For Bahmni-Reports
{% for reports_host in groups['bahmni-reports'] %}
{% if hostvars[reports_host].get('passive', 'no') == hostvars[item].get('passive', 'no') %}
		  ProxyPass /bahmnireports http://{{ reports_host }}:{{ bahmni_reports_port }}/bahmnireports
          ProxyPassReverse /bahmnireports http://{{ reports_host }}:{{ bahmni_reports_port }}/bahmnireports
{% endif %}
{% endfor %}
