IMPLEMENTATION_NAME={{ implementation_name }}
{% if hostvars[inventory_hostname].get('passive') == 'yes' %}
IS_PASSIVE=1
{% endif %}
OPENERP_DB_USERNAME={{ openerp_db_username }}
OPENERP_DB_PASSWORD={{ openerp_db_password }}
OPENERP_DB_SERVER={{ groups['bahmni-erp-db'][0] | default('localhost', true)}}
