export SERVER_PORT={{ bahmni_two_factor_auth_port }}
export BASE_DIR={{ bahmni_two_factor_auth_run_dir }}
export CONTEXT_PATH={{ bahmni_two_factor_auth_context_path }}
export WAR_DIRECTORY={{ bahmni_two_factor_auth_run_dir }}/bahmni-two-factor-auth
export SERVER_OPTS="{{ bahmni_two_factor_auth_server_options }}"
export DEBUG_OPTS={{ bahmni_two_factor_auth_debug_args }}
export JAVA_HOME={{ java_home }}
