bahmnicore.images.directory={{patient_images_dir}}
bahmnicore.urls.patientimages=/patient_images
bahmnicore.documents.baseDirectory={{document_images_dir}}

{% for host in groups['bahmni-lab'] %}
{% if hostvars[host].get('passive') != 'yes' %}

openelis.uri=http://{{ host }}:{{ bahmni_lab_port }}/
patient.feed.uri=http://{{ host }}:{{ bahmni_lab_port }}/openelis/ws/feed/patient/recent

{% endif %}
{% endfor %}
feed.maxFailedEvents=10000
feed.connectionTimeoutInMilliseconds=10000
feed.replyTimeoutInMilliseconds=20000