export OPENMRS_RUNTIME_PROPERTIES_FILE=/etc/openmrs/openmrs-runtime.properties
export MODULE_REPO={{ openmrs_modules_dir }}
export SERVER_PORT={{ openmrs_port }}
export BASE_DIR={{ openmrs_run_dir }}
export CONTEXT_PATH={{ openmrs_context_path }}
export WAR_DIRECTORY={{ openmrs_run_dir }}/openmrs
export SERVER_OPTS="{{ openmrs_server_options }}"