#For dchm4chee service
{% for host in groups['dcm4chee'] %}
{% if host == inventory_hostname and hostvars[host].get('passive', 'no') == 'yes'%}
		ProxyPass /oviyam2 http://{{ host }}:{{ dchm4chee_port }}/oviyam2
{% endif %}
{% if host == inventory_hostname and hostvars[host].get('passive', 'no') == 'no'%}
		ProxyPass /oviyam2 http://{{ host }}:{{ dchm4chee_port }}/oviyam2
{% endif %}
{% endfor %}