openmrs:
  path: /data/openmrs/
  retention_limit: 2
  restore_path: /data/openmrs/

postgres:
  path: /var/lib/pgbackrest/
  retention_limit: 2

bahmni_reports:
  path: /data/reports/
  retention_limit: 2
  restore_path: /data/reports/

sync:
  host:
  path:
  user:


patient_images:
     backup_to_path: /mymount
     backup_from_path: /home/bahmni/patient_images
     restore_from_path: /mymount
     restore_to_path: /home/bahmni/
document_images:
     backup_to_path: /mymount
     backup_from_path: /home/bahmni/document_images
     restore_from_path: /mymount
     restore_to_path: /home/bahmni/
uploaded_files:
    backup_to_path: /mymount
    backup_from_path: /home/bahmni/uploaded-files
    restore_from_path: /mymount
    restore_to_path: /home/bahmni/
uploaded_results:
     backup_to_path: /mymount
     backup_from_path: /home/bahmni/uploaded_results
     restore_from_path: /mymount
     restore_to_path: /home/bahmni/
pacs_images:
    backup_to_path: /mymount
    backup_from_path: /home/bahmni/pacs_images
    restore_from_path: /mymount
    restore_to_path: /home/bahmni/
reports:
    backup_to_path: /mymount
    backup_from_path: /home/bahmni/reports
    restore_from_path: /mymount
    restore_to_path: /home/bahmni/

