IMPLEMENTATION_NAME={{ implementation_name }}
OPENMRS_DB_USERNAME={{ openmrs_db_username }}
OPENMRS_DB_PASSWORD={{ openmrs_db_password }}
OPENMRS_DB_SERVER={{ groups['bahmni-emr-db'][0] | default('localhost', true)}}
{% if groups['bahmni-lab-db']|length > 0  %}
OPENELIS_DB_USERNAME={{ openelis_db_username }}
OPENELIS_DB_PASSWORD={{ openelis_db_password }}
OPENELIS_DB_SERVER={{ groups['bahmni-lab-db'][0] | default('localhost', true)}}
{% endif %}
{% if groups['bahmni-erp-db']|length > 0  %}
OPENERP_DB_USERNAME={{ openerp_db_username }}
OPENERP_DB_PASSWORD={{ openerp_db_password }}
OPENERP_DB_SERVER={{ groups['bahmni-erp-db'][0] | default('localhost', true)}}
{% endif %}
MYSQL_ROOT_USER={{mysql_root_user}}
MYSQL_ROOT_PASSWORD={{mysql_root_password}}
{% if hostvars[inventory_hostname].get('passive') == 'yes' %}
IS_PASSIVE=1
{% endif %}
{% if groups['pacs-integration-db']|length > 0  %}
BAHMNI_PACS_DB_SERVER={{ groups['pacs-integration-db'][0] | default('localhost', true)}}
{% endif %}
{% if groups['dcm4chee-db']|length > 0  %}
DCM4CHEE_DB_SERVER={{ groups['dcm4chee-db'][0] | default('localhost', true)}}
{% endif %}
{% if groups['bahmni-reports-db']|length > 0  %}
REPORTS_DB_SERVER={{ groups['bahmni-reports-db'][0] | default('localhost', true)}}
REPORTS_DB_PASSWORD={{ reports_db_password }}
REPORTS_DB_USERNAME={{ reports_db_username }}
{% endif %}
