IMPLEMENTATION_NAME={{ implementation_name }}
OPENMRS_DB_USERNAME={{ openmrs_db_username }}
OPENMRS_DB_PASSWORD={{ openmrs_db_password }}
OPENMRS_DB_SERVER={{ groups['bahmni-emr-db'][0] | default('localhost', true)}}
OPENELIS_DB_USERNAME={{ openelis_db_username }}
OPENELIS_DB_PASSWORD={{ openelis_db_password }}
OPENELIS_DB_SERVER={{ groups['bahmni-lab-db'][0] | default('localhost', true)}}
OPENERP_DB_USERNAME={{ openerp_db_username }}
OPENERP_DB_PASSWORD={{ openerp_db_password }}
OPENERP_DB_SERVER={{ groups['bahmni-erp-db'][0] | default('localhost', true)}}
MYSQL_ROOT_USER={{mysql_root_user}}
MYSQL_ROOT_PASSWORD={{mysql_root_password}}