server:
  port: {{ atomfeed_console_port }}
appConfigs:
    -
       appName: OpenMRS
       dbUrl: jdbc:mysql://{{ groups['bahmni-emr-db'][0] | default('localhost', true)}}:3306/openmrs
       dbUser: {{ openmrs_db_username }}
       dbPassword: {{ openmrs_db_password }}

{% if groups['bahmni-erp-db']|length > 0 %}
    -
       appName: OpenERP
       dbUrl: jdbc:postgresql://{{ groups['bahmni-erp-db'][0] }}:5432/openerp
       dbUser: {{ openerp_db_username }}
       dbPassword: {{ openerp_db_password }}
{% endif %}

{% if groups['bahmni-lab-db']|length > 0 %}
    -
       appName: OpenELIS
       dbUrl: jdbc:postgresql://{{ groups['bahmni-lab-db'][0] }}:5432/clinlims
       dbUser: {{ openelis_db_username }}
       dbPassword: {{ openelis_db_password }}
{% endif %}

{% if groups['pacs-integration-db']|length > 0 %}
    -
       appName: Pacs Integration
       dbUrl: jdbc:postgresql://{{ groups['pacs-integration-db'][0] }}:5432/bahmni_pacs
       dbUser: pacs
{% endif %}
