IMPLEMENTATION_NAME={{ implementation_name }}
OPENMRS_DB_USERNAME={{ openmrs_db_username }}
OPENMRS_DB_PASSWORD={{ openmrs_db_password }}
OPENMRS_DB_SERVER={{ groups['bahmni-emr-db'][0] | default('localhost', true)}}
OPENELIS_DB_USERNAME={{ openmrs_db_username }}
OPENELIS_DB_PASSWORD={{ openmrs_db_password }}
OPENELIS_DB_SERVER={{ groups['bahmni-lab'][0] | default('localhost', true)}}
