export SERVER_PORT={{ bahmni_erp_connect_port }}
export BASE_DIR={{ bahmni_erp_connect_base_dir }}
export CONTEXT_PATH={{ bahmni_erp_connect_context_path }}
export WAR_DIRECTORY={{ bahmni_erp_connect_war_directory }}
export SERVER_OPTS="{{ bahmni_erp_connect_server_opts }}"
export DEBUG_OPTS="{{ bahmni_erp_connect_debug_opts }}"
export OPENERP_DB_SERVER={{ groups['bahmni-erp-db'][0] | default('localhost', true) }}
export OPENERP_DB_PASSWORD="{{ openerp_db_password }}"
export OPENERP_DB_USERNAME="{{ openerp_db_username }}"
export JAVA_HOME={{ java_home }}
