#!/bin/bash

if [ "{{item.name}}" == "document_images" ];
then
    if [ $(ls -t {{item.path}}| grep {{item.name}} | tail -n +$(({{document_images.retention_limit}}+1)) | wc -l) -gt 0 ];
       then
          for files in $(ls -t {{item.path}} | grep {{item.name}} | tail -n +$(({{document_images.retention_limit}}+1)))
          do
            rm -rf {{item.path}}/$files
          done
    fi
fi

if [ "{{item.name}}" == "patient_images" ];
then
    tmp = $(({{patient_images.retention_limit}}+1))
    if [ $(ls -t {{item.path}}| grep {{item.name}} | tail -n +$(({{patient_images.retention_limit}}+1)) | wc -l) -gt 0 ];
       then
          for files in $(ls -t {{item.path}} | grep {{item.name}} | tail -n +$(({{patient_images.retention_limit}}+1)))
          do
            rm -rf {{item.path}}/$files
          done
    fi
fi

if [ "{{item.name}}" == "pacs_images" ];
then
    if [ $(ls -t {{item.path}}| grep {{item.name}} | tail -n +$(({{pacs_images.retention_limit}}+1)) | wc -l) -gt 0 ];
       then
          for files in $(ls -t {{item.path}} | grep {{item.name}} | tail -n +$(({{pacs_images.retention_limit}}+1)))
          do
            rm -rf {{item.path}}/$files
          done
    fi
fi

if [ "{{item.name}}" == "uploaded-files" ];
then
    if [ $(ls -t {{item.path}}| grep {{item.name}} | tail -n +$(({{uploaded_files.retention_limit}}+1)) | wc -l) -gt 0 ];
       then
          for files in $(ls -t {{item.path}} | grep {{item.name}} | tail -n +$(({{uploaded_files.retention_limit}}+1)))
          do
            rm -rf {{item.path}}/$files
          done
    fi
fi

if [ "{{item.name}}" == "uploaded_results" ];
then
    if [ $(ls -t {{item.path}}| grep {{item.name}} | tail -n +$(({{uploaded_results.retention_limit}}+1)) | wc -l) -gt 0 ];
       then
          for files in $(ls -t {{item.path}} | grep {{item.name}} | tail -n +$(({{uploaded_results.retention_limit}}+1)))
          do
            rm -rf {{item.path}}/$files
          done
    fi
fi

if [ "{{item.name}}" == "reports" ];
then
    if [ $(ls -t {{item.path}}| grep {{item.name}} | tail -n +$(({{reports.retention_limit}}+1)) | wc -l) -gt 0 ];
       then
          for files in $(ls -t {{item.path}} | grep {{item.name}} | tail -n +$(({{reports.retention_limit}}+1)))
          do
            rm -rf {{item.path}}/$files
          done
    fi
fi
