#For Event log service
{% for host in groups['bahmni-event-log-service'] %}
{% if host == inventory_hostname and hostvars[host].get('passive', 'no') == 'yes'%}
		  ProxyPass /event-log-service http://{{ host }}:{{ bahmni_event_log_service_port }}/event-log-service
          ProxyPassReverse /event-log-service http://{{ host }}:{{ bahmni_event_log_service_port }}/event-log-service
{% endif %}
{% if host == inventory_hostname and hostvars[host].get('passive', 'no') == 'no'%}
		  ProxyPass /event-log-service http://{{ host }}:{{ bahmni_event_log_service_port }}/event-log-service
          ProxyPassReverse /event-log-service http://{{ host }}:{{ bahmni_event_log_service_port }}/event-log-service
{% endif %}
{% endfor %}