spring.datasource.url=jdbc:mysql://{{ groups['bahmni-emr-db'][0] | default('localhost', true) }}:3306/openmrs
spring.datasource.username={{ openmrs_db_username }}
spring.datasource.password={{ openmrs_db_password }}
spring.datasource.driver-class-name=com.mysql.jdbc.Driver

# Keep the connection alive if idle for a long time
spring.datasource.testWhileIdle=true
spring.datasource.validationQuery=SELECT 1

spring.jpa.generate-ddl=false
spring.jpa.database-platform=org.hibernate.dialect.MySQL5Dialect
spring.jpa.show-sql=false
spring.jpa.hibernate.ddl-auto=none
server.port={{ bahmni_event_log_service_port }}

liquibase.change-log=classpath:db/changelog/liquibase.xml

enable.scheduling=true

{% for host in groups['bahmni-emr'] %}
{% if hostvars[host].get('passive') != 'yes' %}
bahmni.eventlog.uri=http://{{ host }}:{{ openmrs_port }}/openmrs/ws/rest/v1/eventlog/filter/
openmrs.auth.uri=http://{{ host }}:{{ openmrs_port }}/openmrs/ws/rest/v1/session
{% endif %}
{% endfor %}

openmrs.user={{ openmrs_user_id }}
openmrs.password={{ openmrs_user_password }}
openmrs.connectionTimeoutInMilliseconds=500000
openmrs.replyTimeoutInMilliseconds=20000
