#For Event log service
{% for eventlog_host in groups['bahmni-event-log-service'] %}
{% if hostvars[eventlog_host].get('passive', 'no') == hostvars[item].get('passive', 'no') %}
		  ProxyPass /event-log-service http://{{ eventlog_host }}:{{ bahmni_event_log_service_port }}/event-log-service
          ProxyPassReverse /event-log-service http://{{ eventlog_host }}:{{ bahmni_event_log_service_port }}/event-log-service
{% endif %}
{% endfor %}
