export SERVER_PORT={{ bahmni_event_log_service_port }}
export BASE_DIR=/var/run/bahmni-event-log-service
export CONTEXT_PATH=/event-log-service
export WAR_DIRECTORY=/var/run/bahmni-event-log-service/bahmni-event-log-service
export SERVER_OPTS="-Xms512m -Xmx1024m"
export DEBUG_OPTS="-agentlib:jdwp=transport=dt_socket,address=8004,server=y,suspend=n"
export JAVA_HOME={{ java_home }}
