[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/lib/mysql/mysqld.pid

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
default-storage-engine=innodb
character-set-server=utf8
collation-server=utf8_general_ci
pid-file=/var/lib/mysql/mysqld.pid
log-error=/var/log/mysqld.log
sql-mode=""
character-set-server=utf8
collation-server=utf8_general_ci
max_connections=150

# For replication
{% if (groups['bahmni-emr-db-slave'] | default([]) | length  > 0 and inventory_hostname in groups['bahmni-emr-db']) %}
server-id = {{ master_server_id }}
log-bin = {{ log_bin_file_name }}
log-bin-index = {{log_bin_index_file_name}}
expire_logs_days = {{ expire_logs_days }}
max_binlog_size = {{max_binlog_size}}
innodb_flush_log_at_trx_commit = {{ innodb_flush_log_at_trx_commit}}
sync_binlog = {{ sync_binlog }}
{% endif %}

{% if (groups['bahmni-emr-db-slave'] | default([]) | length  > 0 and inventory_hostname in groups['bahmni-emr-db-slave']) %}
server-id = {{ slave_server_id }}
read_only
{% endif %}
