#!/bin/sh
set -e -x
. /etc/bahmni-installer/bahmni.conf

{% for host in groups['pacs-integration'] %}
{% if hostvars[host].get('passive') != 'yes' %}

psql -U pacs bahmni_pacs -h $BAHMNI_PACS_DB_SERVER  -c "UPDATE
   markers
 SET
   feed_uri_for_last_read_entry = regexp_replace(
       feed_uri_for_last_read_entry, 'http://.*/openmrs', 'http://{{ host }}:{{ openmrs_port }}/openmrs'
   ),
   feed_uri = regexp_replace(
       feed_uri, 'http://.*/openmrs', 'http://{{ host }}:{{ openmrs_port }}/openmrs'
   ) where feed_uri ~ 'openmrs';"

psql -U pacs bahmni_pacs -h $BAHMNI_PACS_DB_SERVER  -c " UPDATE
     failed_events
    SET
     feed_uri = regexp_replace(
         feed_uri, 'http://.*/openmrs', 'http://{{ host }}:{{ openmrs_port }}/openmrs'
     )
    where feed_uri ~'openmrs';"

{% endif %}
{% endfor %}