#!/bin/sh

SCRIPTS_DIR=`dirname $0`
DATABASE_NAME="bahmni_pacs"
# set -e

if [ "$(psql -Upostgres -h {{ groups['pacs-integration-db'][0] | default('localhost', true) }} -lqt | cut -d \| -f 1 | grep -w $DATABASE_NAME | wc -l)" -eq 0 ]; then
    echo "Creating database : $DATABASE_NAME"
    psql -U postgres -h {{ groups['pacs-integration-db'][0] | default('localhost', true) }} -f $SCRIPTS_DIR/setupDB.sql
else
    echo "The database $DATABASE_NAME already exits"
fi