export SERVER_PORT={{ pacs_integration_port }}
export BASE_DIR={{ pacs_integration_base_dir }}
export CONTEXT_PATH={{ pacs_integration_context_path }}
export WAR_DIRECTORY={{ pacs_integration_war_directory }}
export SERVER_OPTS="{{ pacs_integration_server_opts }}"
export DEBUG_OPTS="{{ pacs_integration_debug_opts }}"
export JAVA_HOME={{ java_home }}
