#Server properties
feed.id.prefix=ff554579-a19f-4bf9-b245-440814b513d9
feed.title=OpenELIS
feed.generator.title=OpenELIS
feed.author=OpenELIS

#Client Properties
feed.connectionTimeoutInMilliseconds=10000
feed.replyTimeoutInMilliseconds=20000
feed.maxFailedEvents=10000
feed.failedEventMaxRetry=10

#OpenMRS data specific properties

{% for host in groups['bahmni-emr'] %}
{% if hostvars[host].get('passive') != 'yes' %}
openmrs.auth.uri=http://{{ host }}:{{ openmrs_port }}/openmrs/ws/rest/v1/session
openmrs.patient.feed.uri=http://{{ host }}:{{ openmrs_port }}/openmrs/ws/atomfeed/patient/recent
openmrs.encounter.feed.uri=http://{{ host }}:{{ openmrs_port }}/openmrs/ws/atomfeed/encounter/recent
openmrs.lab.feed.uri=http://{{ host }}:{{ openmrs_port }}/openmrs/ws/atomfeed/lab/recent

{% endif %}
{% endfor %}

openmrs.user={{ openmrs_user_id }}
openmrs.password={{ openmrs_user_password }}
openmrs.connectionTimeoutInMilliseconds=10000
openmrs.replyTimeoutInMilliseconds=20000
productType.labTest=Test
productType.panel=Panel
