export SERVER_PORT={{ bahmni_lab_port }}
export BASE_DIR={{ bahmni_lab_base_dir }}
export CONTEXT_PATH={{ bahmni_lab_context_path }}
export WAR_DIRECTORY={{ bahmni_lab_war_directory }}
export SERVER_OPTS="{{ bahmni_lab_server_opts }}"
export DEBUG_OPTS="{{ bahmni_lab_debug_opts }}"
export JAVA_HOME={{ java_home }}
