#For Bahmni-LAB
{% for lab_host in groups['bahmni-lab'] %}
{% if hostvars[lab_host].get('passive', 'no') == hostvars[item].get('passive', 'no') %}
        ProxyPass /openelis http://{{ lab_host }}:{{ bahmni_lab_port }}/openelis
        ProxyPassReverse /openelis http://{{ lab_host }}:{{ bahmni_lab_port }}/openelis
{% endif %}
{% endfor %}


