###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

{% if nagios_contacts is defined %}
{% for contact in nagios_contacts %}
define contact{
   contact_name {{ contact.name }}
   use {{ contact.use }}
   alias {{ contact.alias }}
   email {{contact.email }}
}
{% endfor %}
{% endif %}


###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

{% if nagios_contactgroups is defined %}
{% for group in nagios_contactgroups %}
define contactgroup{
   contactgroup_name {{ group.name }}
   alias {{ group.alias }}
   members {{group.members }}
}
{% endfor %}
{% endif %}
